{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/drugs/drug-detail.css' %}"
/>
<script defer src="{% static 'js/drug-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="drug-container">
  <div class="drug-img">
    {% if drug.photo.url %}
      <img 
        src="{{drug.photo.url}}" 
        alt="A photo of {{drug.name}}"
        class="usr-img"
      >
    {% else %}
      <img 
        src="{% static 'images/drug-default.png' %}" 
        alt="Default med background"
      >
    {% endif %}
  </div>
  <div class="drug-details">
    <h1>{{ drug.name }}</h1>
    <h3>Form: {{drug.get_form_display}}</h3>
    <h3>Duration: {{ drug.duration }}</h3>
    <p>{{ drug.notes }}</p>
    <div class="drug-actions">
      <a href="{% url 'drug-update' drug.id %}" class='btn warn'>Edit</a>
      <a href="{% url 'drug-delete' drug.id %}" class='btn danger'>Delete</a>
    </div>
    <h3>Change photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' drug.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Add Photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
  </div>
</section>
<div class="dose-container">
  <section class="dose">
    <div class="subsection-title">
      <h2>Record a Dose!</h2>
      <img 
        src="{% static 'images/calendar.png' %}" 
        alt="Calendar Art"
      />
    </div>
    <form 
      action="{% url 'add-dose' drug.id %}"
      method='post'
      class='subsection-content'
      autocomplete='off'
    >
    {% csrf_token %}
    {{ dose_form.as_p }}
    <button type="submit" class='btn submit'>Add Dosage</button>
    </form>
    <h2>Dosage Log:</h2>
    {% if drug.dose_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Dose</th><th>Time</th></tr>
        </thead>
        <tbody>
          {% for dose in drug.dose_set.all %}
            <tr>
              <td>{{dose.date}}</td>
              <td>{{dose.dosage}}</td>
              <td>at {{dose.time}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>No doses have been logged for {{drug.name}}</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}