{% extends "base.html" %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/drugs/drug-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>Medication List</h1>
</section>

<section class="card-container">
  {% for drug in drugs %}
  <div class="card">
    <a href="{% url 'drug-detail' drug.id %}">
      <div class="card-img-container">
        {% if drug.photo.url %}
          <img 
            src="{{drug.photo.url}}" 
            alt="A photo of {{drug.name}}"
            class="usr-img"
          >
        {% else %}
          <img 
            src="{% static 'images/drug-default.png' %}" 
            alt="Default med background"
          >
        {% endif %}
      </div>
        <h2 class="card-title">{{ drug.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}