main {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  background-image: url("/static/images/pill-background.png");
  background-repeat: repeat;
  background-size: fill;
}

.login-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 750px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 10px 10px;
  text-align: center;
  border-radius: 15px;
  margin-top: 300px;
}

section {
  flex-basis: 100%;
  flex: 1;
  height: 100%;
}

.logo-container {
  background-image: url("/static/images/mindful-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: padding-box;
  border-radius: 15px 0px 0px 15px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(67, 179, 223, 0.659);
  backdrop-filter: blur(5px);
  border-radius: 0px 15px 15px 0px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.login h1 {
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  margin: 10px 0;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  margin-right: 0;
  margin-top: 16px;
  width: 100px;
}
